/* body {
    background-color:rgb(79, 97, 114);
    font-family: "Amatic SC", cursive;
} */
/* .tile.is-child {
    background-color: rgb(170, 175, 180);
}
#chart-div {
    background-color: rgb(170, 175, 180);
} */
#bio-div {
    word-break: break-word;
}
#chart-div {
    word-break: break-all;
}

#powers-div {
    text-align: center;
    /* display: flex; */
}

ul {
    font-family: "Walter Turncoat", cursive;
    font-size: 20;
}

canvas {
    width: 100%;
    height: 100%;
}

.title, .subtitle {
    font-family: "Bangers", cursive;
    font-size: larger;
    font-weight: bolder;
}

/* 
.box {
    margin:0;
    border: 10px solid black;
    padding: 0;
}
.column {
    padding: 0;
    margin: 0;
}
.tile {
    margin: 0;
    border: 10px solid black;
    padding:0;
} */